// Specific CSS for your home-page
body{
  text-align: left;
}

.deals_wrapper{
  margin: 0px 25vw;
}

.index{
  position: absolute;
    //   position: -webkit-sticky;  // required for Safari
    // position: sticky;
        position: fixed;
  top:200px;
  left:60px;
  height : 17vw;
  width: 14vw;
  background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.vote{
  position: absolute;
    //   position: -webkit-sticky;  // required for Safari
    // position: sticky;
        position: fixed;
  top:200px;
  right:60px;
  height : 17vw;
  width: 14vw;

  background-color: transparent;
    cursor: pointer;


  &:hover #arrows{
background-image: -webkit-linear-gradient(bottom, #EA4C4C 50%, #0E9577 50%);
      border-radius: 25px;
}
  // background-color: linear-gradient(bottom, #FFD51A 50%, #FAC815 50%);
#arrows{
width:100%;
// float:down;
}
}

 .category-title{
  text-align:center;
  font-size:25px;
  font-weight:bolder;
  }


.deal-card{
  border : none;
  background-color: white;
  position:relative;
    // -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    //    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 30px;
  height: 50vw;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 30% 35% 35%;

  .deal-title{
  font-weight:bolder;
  font-size: 25px;
  }

  .deal-detail {
  padding: 10px;
  // box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .highlight{
  color: #00C9B1;
  font-weight: bolder;
  }


  .overview{
  grid-row: 1/ span 1;
  grid-column: 1/ span 2;
  }

  .picture{
grid-row: 1/ span 1;
grid-column: 3/ span 1;

    img{
    max-height: 100%;
    max-width:100%;
  float: right;
    }
  }

  .team{
grid-row: 2/ span 2;
grid-column: 3/ span 1;
  }

  .market{
grid-row: 2/ span 1;
grid-column: 1/ span 1;
  }
  .metrics{
grid-row: 2/ span 1;
grid-column: 2/ span 1;
  }

  .strategy{
grid-row: 3/ span 1;
grid-column: 1/ span 1;
  }

  .edge{
grid-row: 3/ span 1;
grid-column: 2/ span 1;
  }
}


// .box_footer_card {
//    display: inline-block;
//      box-shadow: 1px 1px 2px #e7e7e7;
//     background-color: #F2F2F2;
//          position: absolute;
//   bottom: 10px;
//     left: 10px;
//     padding: 2px 5px;
//     color: #333644;
//     font-weight:lighter;
// }



