<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "logo.png", {id: "logo"}%></a>
  <%= image_tag "add.png", {id: "add"}%></a>

  <div href="" class="navbar-wagon-item navbar-wagon-link about-section">About
  <!-- class="hidden-xs hidden-sm" -->
    <div  id="about-elliot">
  <%= image_tag "Shanghai1.png", {class: "avatar-photo"}%>
        <div class="about-text" >
        <strong>Elliot Seror</strong> founded Sqrd Deals in early 2018. He is currently working in a London-based VC after studies in Finance. <a href="https://www.linkedin.com/in/elliotseror/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
  </div>
</div>
