<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "logo.png", {class: "img-circle", id: "logo"}%></a>
  <a href="" class="navbar-wagon-item navbar-wagon-link about">About</a>
  <div class="navbar-wagon-item navbar-wagon-link about-section hidden-xs hidden-sm">
    <span id="about-elliot">
      <img src="images/Shanghai1.png" class = "avatar-photo">
      <div class="about-text">
      <strong>Elliot Seror</strong>  founded Priceit in September 2017. He is currently working in a London-based VC after studies in Finance.
      </div>
    </span>
  </div>
</div>
