<div class="deals_wrapper">
<!--   <div class="index"><div class="category-title">Index</div></div>
 -->  <div class="vote hidden-sm hidden-xs"><div class="category-title">Vote</div>
    <%= image_tag "arrows.png", {id: "arrows"}%></a>
</div>

<!-- <div class="deal-card-mobile hidden-lg hidden-md">
  <div class="deal-title highlight">Galaxy.ai</div>
  <div class="picture">  <%= image_tag "galaxy.png" %></div>
</div> -->

  <div class="deal-card hidden-sm hidden-xs">
    <div class="deal-detail overview">
      <div class="category-title">Overview</div>
      <span class="deal-title highlight "> Galaxy.ai </span>created a visual processing system that uses AI to analyse images of low and medium severity car claims and immediately give an estimate without the need for human intervention.
    </div>
    <div class="picture">  <%= image_tag "galaxy.png" %></div>
    <div class="deal-detail team"><div class="category-title">Team</div>
      <li><span class = "highlight">Alexandros Louizos</span> , MD, MSc - A deep learning PhD candidate who has designed and built AI systems from concept to production.
      </li>
      <li><span class="highlight"> Jasjit Maggu</span> Masters at University of Cambridge, and also holds Bachelors in Engineering from Panjab University.
      </li>
      <li><span class="highlight">Jacob Lindeman</span> , CTO - 20+ years of expertise in enterprise product development and systems integration.
      </li>
    </div>
    <div class="deal-detail market"><div class="category-title">Market</div></div>
    <div class="deal-detail strategy"> <div class="category-title">Strategy</div> While numerous startups aim at simplifying it, only Galaxy.ai and its direct competitor Tractable use advanced technology such as computer vision and machine learning to fully automate this process.
    </div>
    <div class="deal-detail metrics"><div class="category-title">Metrics</div><span class="highlight">50k € </span>raised in an Angel round.
    </div>
    <div class="deal-detail edge"><div class="category-title">Edge</div>From the customer’s standpoint, Galaxy.ai <span class="highlight">greatly improves </span>the usually stressful and complex experience of processing a claim following an accident.
    </div>
  </div>

  <div class="deal-card hidden-sm hidden-xs">
    <div class="deal-detail overview">
      <div class="category-title">Overview</div>
      <span class="deal-title highlight"> Feedstock </span> is a London-based Regtech founded in 2015 that uses machine learning and artificial intelligence to automatically track and cluster investment research on behalf of fund managers.
    </div>
    <div class="picture">  <%= image_tag "Feedstock.png" %></div>
    <div class="deal-detail team"><div class="category-title">Team</div>
       Co-founded by a fund manager with over fifteen years of experience.
    </div>
    <div class="deal-detail market"><div class="category-title">Market</div></div>
    <div class="deal-detail strategy"> <div class="category-title">Strategy</div>  Initially designed as an information management system, <span class="highlight">FeedStock pivoted </span> in response to the European Commission Markets in Financial Instruments Directive ("MiFID II")
    </div>
    <div class="deal-detail metrics"><div class="category-title">Metrics</div>Series A raised in March 2017 from <span class="highlight">Illuminate Financial</span>.
    </div>
    <div class="deal-detail edge"><div class="category-title">Edge</div> I am confident that the coming into force of this directive will help Feedstock achieve significant growth in the coming years.
    </div>
  </div>


</div>




