
<div class = "header">
<!--   <p class = "sub-title">London VCs' favorite deal pipeline</p>
 --></div>


<div class="deals_wrapper">

<div class="deal-card">
<div class="overview">overview</div>
<div class="picture">picture</div>
<div class="team">team</div>
<div class="market">market</div>
<div class="strategy">strategy</div>
<div class="finance">finance</div>
<div class="positive">positive</div>
</div>
  <div class="card-white">
    <h3>Galaxy.ai</h3>
    <div class="card-time">
      1d
    </div>
                <div class="card_infos">
    <div class="CEO card_info" >
    CEO: <span class= "detail"> Alexandros Louizos</span>
    </div>
    <div class="Location card_info">
    Location: <span class= "detail">New York</span>
    </div>
    <div class="Stage card_info">  Raised: <span class= "detail">700k</span></div>
    </div>
      <p>
        Galaxy.ai created a visual processing system that uses AI to analyse images of low and medium severity car claims and immediately give an estimate without the need for human intervention. Claims management is often a long and painful  process for customers, and constitutes one of the many aspects of the insurance industries startups are looking at disrupting. While numerous startups aim at simplifying it, only Galaxy.ai and its direct competitor Tractable use advanced technology such as computer vision and machine learning to fully automate this process. Not only does it allow insurers to save time and lower costs, the photographic evidence has a large impact on reducing fraudulent claims as well. From the customer’s standpoint, Galaxy.ai greatly improves the usually stressful and complex experience of processing a claim following an accident.
        </p>
    <div class = "box_footer_card detail">Insurtech; AI; Machine Learning</div>
  </div>


          <div class="card-white">
            <h3>Euddia</h3>
                <div class="card-time">
      3d
    </div>
                <div class="card_infos">
    <div class="CEO card_info" >
    CEO: <strong> Alexandros Louizos</strong>
    </div>
    <div class="Location card_info">
    Location: <strong>New York</strong>
    </div>
    <div class="Stage card_info">  Raised: <strong>Early</strong></div>
    </div>
            <p>
Euddia is a project initiated in May 2017 and aiming at opening up the weather index insurance market to individual investors. In other words, Euddia is building a a Peer-to-Peer network for weather insurance. The Euddia team consists of three co-founders, all PhDs from renowned colleges and specialists in agricultural and environmental issues. What I like about it is that it makes weather insurance available at lower costs while providing a meaningful investment opportunity for peer investors. All of this is done in the interest of the agricultural communities, who are increasingly affected by increasing variations in weather conditions. A seed investment in Euddia has the additional advantage of enabling Forward Partners to gain exposure to Insurtech, a niche that is expected to demonstrate high-growth in the years to come.
            </p>

          <div class = "box_footer_card detail">Insurtech; P2P network</div>

          </div>


      </div>



