
<div class = "header">
<!--   <p class = "sub-title">London VCs' favorite deal pipeline</p>
 --></div>


<div class="deals_wrapper">
  <%= image_tag "add.png", {id: "add"}%></a>


<div class="deal-card">
<div class="overview"> <div class="category-title">Overview</div> <span class="deal-title"> Galaxy.ai </span>created a visual processing system that uses AI to analyse images of low and medium severity car claims and immediately give an estimate without the need for human intervention.
</div>
<div class="picture">  <%= image_tag "galaxy.png" %></div>
<div class="team"><div class="category-title">Team</div>
<li>Alexandros Louizos , MD, MSc - A deep learning PhD candidate who has designed and built AI systems from concept to production.
</li>
<li>Jasjit Maggu , M.Phil - received Commonwealth scholarship offered by University of Cambridge from where she did her Masters, and also holds Bachelors in Engineering from Panjab University.
</li>
<li>Jacob Lindeman , CTO - 20+ years of expertise in enterprise product development and systems integration.
</li>

</div>
<div class="market"><div class="category-title">Market</div></div>
<div class="strategy"> <div class="category-title">Strategy</div> While numerous startups aim at simplifying it, only Galaxy.ai and its direct competitor Tractable use advanced technology such as computer vision and machine learning to fully automate this process.</div>
<div class="metrics"><div class="category-title">Metrics</div>50k € raised in an Angel round.</div>
<div class="edge"><div class="category-title">Edge</div>From the customer’s standpoint, Galaxy.ai greatly improves the usually stressful and complex experience of processing a claim following an accident. </div>
</div>

      </div>



